<header>
	  <div class="has-text-centered">
		<img src="/assets/images/logo.png" alt="" width="145" height="auto">
      </div>
      <nav class="navbar-tabs">
         <a href="a" class="navbar-item">HOME</a>
         <a href="a" class="navbar-item">APPLE</a>
         <a href="a" class="navbar-item">BANANA</a>
         <a href="a" class="navbar-item">PAPAYA</a>
         <a href="a" class="navbar-item">DURIAN</a>
         <a href="a" class="navbar-item">WATERMELON</a>
         <a href="a" class="navbar-item">MANGO</a>
         <a href="a" class="navbar-item">KIWI</a>
      </nav>
	</header>